@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scroll::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #ffffff60;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 3px; /* height of horizontal scrollbar â† You're missing this */
  width: 4px; /* width of vertical scrollbar */
}

/* Track */
.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #ffffff60;
}

.container {
  display: flex;
  white-space: nowrap;
  width: 100%;
  gap: 10;
  /* height: clamp(3em, 10vw, 6em); */
  overflow: hidden;
}

.loop-text {
  font-size: clamp(0.5rem, 8vw, 1rem);
  /* text-transform: uppercase; */
  font-weight: 600;
  padding: 0 0.25em;
}

.loop-text {
  animation: loopText 4s infinite linear;
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.cover {
  background-image: url("https://i.ibb.co/NVFg8p6/hero-section-course.webp");
}

.body h2 {
  @apply text-2xl max-md:text-xl font-bold pt-8 break-words;
}

.body h3 {
  @apply text-xl max-md:text-lg font-bold pt-6 break-words;
}

.body p {
  @apply md:text-lg lg:text-xl pt-4;
}

.body a {
  @apply font-semibold text-prime underline underline-offset-2;
}

.body p > code {
  @apply p-1 rounded-md bg-gray-700/60;
}

.body ul {
  @apply list-disc py-4 pl-10;
}

.body li > p {
  @apply pt-0;
}
